.login.form {
    width: 400px;
    height: 400px;
    margin: calc((100vh - 30px)/5.4) auto;
    
}

.login.form img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
}