#main-name {
  letter-spacing: 10px;
  font-weight: 500;
}

#header, .container {
  border-bottom: 1px;
  border-bottom-style: dashed;
  padding: 10px;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%; /* makes the element circular */
  overflow: hidden; /* clips any content that extends beyond the circle */
}