#main-name {
  letter-spacing: 10px;
  font-weight: 500;
}

#header, .container {
  border-bottom: 1px;
  border-bottom-style: dashed;
  padding: 10px;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%; /* makes the element circular */
  overflow: hidden; /* clips any content that extends beyond the circle */
}

input, select {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form {
  border: 1px solid black;
  border-radius: 20px;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.container {
  display: grid;
}

.gap {
  gap: 5px;
}