#main-name {
  letter-spacing: 10px;
  font-weight: 500;
}

#header, .container {
  border-bottom: 1px;
  border-bottom-style: dashed;
  padding: 10px;
}

.container {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr;
  gap: 5px;
}

.column {
  padding: 20px;
}

#greeting-header {
  font-size: 4rem;
}

.greeting-text {
  font-size: 2rem;
  line-height: 2;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.space-above {
  margin-top: 4rem;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%; /* makes the element circular */
  overflow: hidden; /* clips any content that extends beyond the circle */
}

.circle-image {
  background-image: url('assets/Face.jpg');
  width: 100%;
  height: 100%;
  background-size: cover; /* scales the image to cover the entire element */
  background-position: center; /* centers the image within the element */
}

.flat-button {
  border: 2px solid var(--darker-color);
  padding: 10px 40px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  color: var(--darker-color);
  background-color: transparent;
  cursor: pointer;
}

.flat-button:active {
  background-color: #333; /* dark background color */
  color: #fff; /* light text color */
  transition: 0.2s;
} 
